[submodule "network"]
	path = network
	url = git@github.com:lidesdk/network.git
[submodule "lide"]
	path = lide
	url = http://github.com/lidesdk/framework.git
[submodule "libraries/lide"]
	path = libraries/lide
	url = http://github.com/lidesdk/framework.git
